
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .inner {width: 75vw;}
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .inner {width: 60vw;}
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .inner {width: 50vw;}
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .inner {width: 40vw;}
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .inner {width: 35vw;}
  }

   /* Extra large devices (large laptops and desktops, 1450px and up) */
   @media only screen and (min-width: 1450px) {
    .inner {width: 30vw;}
  }
